/* selector múltiple */
h1, h2, h3, h4, h5, h6 {
    color: #3D315B;
}

/* selector de elemento */
h2 {
    color: red;
}

/* selector de hijo */
p span {
    color: blue;
}

/* selector de id */
#mi-caja {
    width: 100px;
    height: 100px;

    background-color: blue;
    position: fixed;
    top: 100px;
    right: 100px;
}

/* selector de clase */
.mi-clase {
    color: pink;
}

.square {
    width: 100px;
    height: 100px;
    background-color: brown;
}

/* selector de hijo directo */
.box > .square {
    border-radius: 50px;
}

img {
    border: 1px solid gray;
    border-radius: 5px;
}
